@mixin br($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin bs($x:0,$y:0px,$z:6px,$shadow:#7e4e7a) {
  -webkit-box-shadow: $x $y $z $shadow;
     -moz-box-shadow: $x $y $z $shadow;
      -ms-box-shadow: $x $y $z $shadow;
          box-shadow: $x $y $z $shadow;
}